@model IEnumerable<BaseModels.Produto>

@{
    ViewBag.Title = "IndexProduto";
}

<h2>IndexProduto</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Categoria.DescricaoCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Embalagem.DescricaoEmbalagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoBarras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescricaoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoLiquido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoRua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoBloco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoPratileira)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Categoria.DescricaoCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Embalagem.DescricaoEmbalagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoBarras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescricaoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoBruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoLiquido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoRua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoBloco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoPratileira)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoID })
        </td>
    </tr>
}

</table>
