@model BaseModels.Venda

@{
    ViewBag.Title = "DeleteVenda";
}

<h2>DeleteVenda</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Venda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._CondicaoPagamento.NomeCondicaoPagamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._CondicaoPagamento.NomeCondicaoPagamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._ItemVenda.ItemVendaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._ItemVenda.ItemVendaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._Vendedor.NomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Vendedor.NomeFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataDaVenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaVenda)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
