@model BaseModels.Embalagem

@{
    ViewBag.Title = "DeleteEmbalagem";
}

<h2>DeleteEmbalagem</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Embalagem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoEmbalagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescricaoEmbalagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoEmbalagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoEmbalagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantidadeProdutoEmbalagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantidadeProdutoEmbalagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEmbalagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEmbalagem)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
