@model BaseModels.Servico

@{
    ViewBag.Title = "Serviço";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Detalhamento do Servico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model._Automovel.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._Automovel.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model._TipoDefeito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model._TipoDefeito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ServicoID }, htmlAttributes: new { @class = "btn btn-primary" })
    @Html.ActionLink("Voltar para a Lista", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
</p>
