@model IEnumerable<BaseModels.Estoque>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Produto.DescricaoProduto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MargemSeguranca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyProperty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Produto.DescricaoProduto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MargemSeguranca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyProperty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EstoqueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EstoqueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EstoqueID })
        </td>
    </tr>
}

</table>
