@model IEnumerable<BaseModels.TipoDefeito>

@{
    ViewBag.Title = "Defeito";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Cadastrar um novo defeito", "Create", null, htmlAttributes: new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TipoDefeitoID }, htmlAttributes: new { @class = "btn btn-primary" })
            @Html.ActionLink("Detalhes", "Details", new { id=item.TipoDefeitoID }, htmlAttributes: new { @class = "btn btn-primary" })
            @Html.ActionLink("Excluir", "Delete", new { id=item.TipoDefeitoID }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
