@model IEnumerable<BaseModels.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SobreNomeFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CpfFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoginFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SenhaFuncionario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoFuncionario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SobreNomeFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CpfFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LoginFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SenhaFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoFuncionario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FuncionarioID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FuncionarioID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FuncionarioID })
        </td>
    </tr>
}

</table>
