@model BaseModels.Funcionario

@{
    ViewBag.Title = "DetailsFuncionario";
}

<h2>DetailsFuncionario</h2>

<div>
    <h4>Funcionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SobreNomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SobreNomeFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CpfFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CpfFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefoneFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefoneFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SenhaFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SenhaFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoFuncionario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FuncionarioID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
