@model IEnumerable<BaseModels.ItemVenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model._Categoria.DescricaoCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model._Embalagem.DescricaoEmbalagem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeItemVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeEstoqueAtual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecoUnitario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendaAtualID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._Categoria.DescricaoCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._Embalagem.DescricaoEmbalagem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeItemVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantidadeEstoqueAtual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecoUnitario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendaAtualID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemVendaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemVendaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemVendaID })
        </td>
    </tr>
}

</table>
